@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@100&display=swap');

/* NAV */

.header_nav 
{
display: flex;
background-color: rgb(58, 58, 58);
}

.header_nav_SearchBtn {
background-color: rgb(74, 74, 74);
border-style: groove;
border-color: rgb(151, 151, 151);
color: white;
font-weight: bold;
}

.header_nav_logo 
{
width: 200px;
border-style: groove;
border-color: rgb(151, 151, 151);
}

.header_nav a
{
color: white;
font-family: 'Sofia Sans Extra Condensed', sans-serif;
font-weight: bold;
font-size: 35px;
}

/* SECCION MAIN */

.main_section_title h1
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 70px;  
    padding: 50px 0px 50px 0px;
    background: rgba(117, 117, 117, 0.5);
}

.main_section_category img
{
   width: 300px;
   height: 300px;
}

/* SECCION MARCAS */

/* SECCION PROMOCIONES */

.main_promociones img 
{    
    width: 200px;
    height: 200px;     
}

.b_color {
    background-color: brown;
    padding-bottom: 50px;
}

/* FOOTER */
    
.footer
{   display: flex;
    justify-content: space-evenly;
    background-color:  rgb(58, 58, 58); 
    color: white;
    align-items: center;
    padding: 20px 0px 20px 0px ;
}

.footer_info h3
{
    text-align: center;
}

.footer_info ul
{
    color: white;
    list-style: none;
}

.footer_button
{
    width: 200px;
    height: 80px;
    font-size: medium;
}

.footer_redes ul
{    
    display:flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.footer_redes ul img
{
    width: 60px;
    height: 60px;
}

/* CONTACTO */

.main_form 
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

/* AYUDA */

.Ayuda_FP
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Ayuda_Talles
{   
    width: 550px;
    height: 350px;
}

.Img_Talles 
{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
}
/* NOSOTROS */

/* PRODUCTOS */

.Productos img 
{
    width: 200px;
}

.main_productos
{
    display:flex;
}

/* GENERAL */

.background_image
{
    background-image: url('../images/Background-Image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;   
}

.font_general
{   
    color: white;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 35px;
    background: rgba(117, 117, 117, 0.5);
    margin-left: 100px;
    margin-right: 100px;
}

.h2_general
{
    color: white;
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 60px;
    background: rgba(117, 117, 117, 0.5);
}
.h3_general
{
    color: white;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 45px;
    background: rgba(117, 117, 117, 0.5);
}
